<!DOCTYPE html>
<html>

<head>

  <title>Node js user management</title>



</head>

<body>
<h3>Login</h3>
  

  <form action="/loginuser" method="post">
      <input type="text" name="email" required="">
      <input type="password" name="pass" required="">
      <input type="submit" name="sub">
      
  </form>
<!--  <script src="/socket.io/socket.io.js"></script>-->
  
<!--  <script src="js/main.js"></script>-->

</body>

</html>