<!DOCTYPE html>
<html>

<head>

  <title>Node js user management</title>



</head>

<body>

  

    <h3>Welcome </h3>
This is member.ejs page
    <%= userinfo %>

<%= online_usr %>

<h3>Online user</h3>

    <a href="/logout">Logout</a>
    
    
  <!--<script src="/socket.io/socket.io.js"></script>-->
  
  <!--<script src="js/main.js"></script>-->

</body>

</html>